@model IEnumerable<Aplikasi_Pengajuan_Cuti.Models.Cuti>

@{
    ViewData["Title"] = "Riwayat";
}

<h1>Tabel Riwayat Pengajuan Cuti</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pegawai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pegawai.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alasan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pegawai.nama_pegawai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pegawai.Division.nama_division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alasan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.status_cuti)
            </td>
        
        </tr>
}
    </tbody>
</table>
