@model IEnumerable<Aplikasi_Pengajuan_Cuti.Models.Cuti>

@{
    ViewData["Title"] = "Index";
}

<h1>Daftar Pengajuan Cuti Admin HR</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pegawai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.alasan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pegawai.nama_pegawai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alasan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.status_cuti)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
